<div class="navbar-wagon">
  <!-- Logo -->
  <% link_to "/", class: "navbar-wagon-brand" do %>
    <%= image_tag "val-test.jpeg" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <!-- Search form -->
    <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search a picture">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <!-- Text link -->
    <%= link_to "About", "about.html", class: "navbar-wagon-item navbar-wagon-button btn" %>

    <!-- Button (call-to-action) -->
    <!-- <a href="" class="navbar-wagon-item navbar-wagon-button btn">Contact</a> -->
    <button type="button" class="navbar-wagon-item navbar-wagon-button btn" data-toggle="modal" data-target="#myModal">Contact</button>
    <%= partial 'modal' %>
  </div>

</div>
